site_name: CSCT Cloud
site_url: htts://csctcloud.github.io

theme:
  name: material
  # logo: assets/csctcloud.png
  favicon: assets/favicon.ico
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: teal
      toggle:
        icon: material/lightbulb-outline
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      accent: teal
      toggle:
        icon: material/lightbulb
        name: Switch to light mode

  features:
    - content.code.copy
    - navigation.footer
    - navigation.sections
    - toc.follow

markdown_extensions:
  - attr_list
  - pymdownx.highlight:
      use_pygments: true
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.keys

nav:
  - Introduction: index.md
  - Getting started:
    - Generating SSH keys: getting-started/generate-keys.md
    - Installing Azure CLI: getting-started/install-azure-cli.md
    - Copying keys to the server: getting-started/copy-keys.md
  - Connecting to the server: 
    - Connect with the terminal: connecting/terminal.md
    - Setup Visual Studio Code: connecting/vscode.md
  - MySQL on CSCT Cloud:
    - MySQL login details: mysql/login.md
    - Using the MySQL shell: mysql/cli.md
    - MySQL with a graphical interface: mysql/gui.md
  - Troubleshooting:
    - Connection issues: troubleshooting/connecting.md
    # - Azure CLI: troubleshooting/azure-cli.md
  - Additional Topics:
    - Terminal programs: additional/terminals.md
    - Installing OpenSSH: additional/install-openssh.md
    - Port forwarding: additional/port-forwarding.md